.empty-message-content {
    color: rgba(0, 0, 0, 0.9);
  }
  

  :host ::ng-deep .p-datatable-wrapper {
    height: calc(100%);
    height: -moz-calc(100%);
    height: -webkit-calc(100%);
  }

  :host ::ng-deep .p-tag{
    min-width: 5rem;
  }