<div class="address">
    <p-panel header="รายละเอียดที่อยู่">
        <p><strong>ชื่อผู้รับ : </strong> {{firstname}} {{lastname}}</p>
        <p><strong>ที่อยู่ผู้รับ :</strong> {{shippingAddress}}</p>
        <p><strong>เบอร์ติดต่อ : </strong> {{phone}}</p>
    </p-panel>
</div>

<div class="order-details mt-3">
    <p-panel header="รายละเอียดสินค้า">
        <p-table *ngIf="orders && orders.order_details" [value]="orders.order_details" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr >
                    <th style="width:30%">ชื่อสินค้า</th>
                    <th style="width:10%">ประเภทสินค้า</th>
                    <th style="width:5%">รูปภาพสินค้า</th>
                    <th style="width:5%">จำนวน</th>
                    <th style="width:10%">ราคา</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderDetail let-i="rowIndex">
                <tr>
                    <td>{{ orderDetail.product.name }}</td>
                    <td></td>
                    <td class="text-center"><p-image preview="true" [src]="orderDetail.product?.images?.length > 0 ? orderDetail.product.images[0].image_data : '../../../assets/images/no-image.png'" alt="รูปสินค้า" width="70" class="shadow-4"/></td>
                    <td>{{ orderDetail.quantity }}</td>
                    <td>{{ orderDetail.price }}</td>
                </tr>
            </ng-template> 
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="4">รวม</td>
                    <td colspan="2" [ngStyle]="{color: 'var(--green-700)'}">{{orders.total_price}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>